@page "/"

@inject IRepositorio repositorio


<div>
    <h3>Peliculas</h3>
    <ListadoPeliculas Peliculas="Peliculas"> </ListadoPeliculas>
   
</div>
@code
{
    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {

        Peliculas = repositorio.ObtenerPeliculas();
    }

}