<EditForm Model="Genero" OnValidSubmit="OnValidSubmint">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label>Nombre</label>
        <InputText class="form-control" @bind-Value="@Genero.Nombre"></InputText>
        <ValidationMessage For="@(()=>Genero.Nombre)"></ValidationMessage>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>
@code {
    [Parameter] public Genero Genero { get; set; }
    [Parameter] public EventCallback OnValidSubmint { get; set; }
}
