@page "/personas/crear"

<h3>CrearPersona</h3>

<FormularioPersonas OnValidSubmit="Crear" Persona="Persona"></FormularioPersonas>
@code {
    private Persona Persona = new Persona();

    void Crear()
    {
        Console.WriteLine("Crear Persona");
    }
}
