@page "/personas/editar/{PersonaId:int}"
<h3>EditarPersona</h3>

<FormularioPersonas OnValidSubmit=" Editar" Persona="Persona"></FormularioPersonas>

@code {
    [Parameter] public int PersonaId { get; set; }
    Persona Persona = new Persona();
    protected override void OnInitialized()
    {
        Persona = new Persona()
        {
            Id = PersonaId,
            Nombre = "Santiago",
            FechaNacimiento = DateTime.Today,

        };

    }
    void Editar()
    {
        Console.WriteLine("Editar Persona");
    }
}
